<h1>Site Administration</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Description</th>
  </tr>

	<tr>
    <td><%= link_to "Products", products_path %></td>
    <td>Maintain products</td>
  </tr>
	<tr>
		<td><%= link_to "Product Categories", product_categories_path %></td>
		<td>Maintain Product Categories</td>
	</tr>
	<tr>
		<td><%= link_to "Product Manufacturers", manufacturers_path %></td>
		<td>Maintain Manufacturers</td>
	</tr>	

</table>
<br />


