/* Makeshift CSS Reset - More complete CSS Reset such as Eric Meyer's (for CSS 2.1)*/
{
	margin: 0;
	padding: 0;
}

html {
	background-color: rgb(100, 149, 190);
}

#header, #footer, #aside, #nav, #article, #intro{
	display: block;	
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

#header{
	margin-top: 20px;
	padding: 60px;
	background: url("/images/banner.png");
}

#nav {
	margin: 0 auto;
	position: absolute;
	background: black url("/images/titlebar.png");
}

#nav ul{
	margin: 0 auto;
	width: 900px;
	list-style: none;
}

#nav ul li {
	float: left;
}

#nav ul li a {
	display: block;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

#nav ul li a:hover {
	color: #fff;
}

#nav ul li.selected a{
	color: #fff;
}

#intro {
	margin-top: 66px;
	padding: 44px;
	background: #467612 url("intro_background.png") repeat-x;
	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-0-background-size: 100%;
	-khtml-background-size: 100%;
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

#intro h2, #intro p¬†{  
    width: 336px;  
}  
  
#intro h2 {  
    padding: 0 0 22px 0;  
    font-weight: normal  
    color: #fff;  
}  
  
#intro p {  
    padding: 0;  
    color: #d9f499;  
}  

 #content {  
 	display: table;  
 }  
   
#mainContent {  
	display: table-cell;  
  width: 920px;  
  padding-right: 22px;  
	padding-top: 30px;
	padding-left: 5px;
}  

#mainContent input{
	margin: 3px; 
} 

#aside {  
    display: table-cell;  
    width: 300px;  
}

#footer{
	background-color: rgb(100, 149, 190);
	color: #666666;
}

.simple_form label{
	float: left;
	width: 100px;
	text-align: right;
	margin: 2px 10px;
}

.simple_form div.input{
	margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit']{
	margin-left: 120px;
}

.simple_form div.boolean label {
	float: none;
	margin: 0;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


