<h1>Product Categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @product_categories.each do |product_category| %>
  <tr>
    <td class="ref-data-name"><%= product_category.name %></td>
    <td class="item-action">
			<%= link_to 'Edit', edit_product_category_path(product_category) %>&nbsp; |
			&nbsp;<%= link_to 'Destroy', product_category, :confirm => 'Are you sure?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product category', new_product_category_path %>
