<!DOCTYPE html>
<html>
<head>
  <title>Vcjsupply</title>
  <%= stylesheet_link_tag "vcjsupply" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
	<div id="header">
	</div>
	
	<div id="nav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
	
	<!--><div id="intro">
	</div> -->
	
	<div id="content">
		<div id="mainContent">
			<div>
				<!-- This is the main body -->
				<%= yield %>
			</div>
		</div>
	
		<!--><div id="aside">
		</div> -->
	</div>
	
	<div id="footer">
		<!-- Footer -- >
		©2010-2011 VCJ Supply
	</div>

</body>
</html>
